/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    text-align: center;
    background-color: #ffd700;
    padding: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

h1 {
    margin-top: 10px;
    font-size: 24px;
}

menu-category {
    padding: 20px;
    margin: 20px auto;
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    color: #28a745;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}